@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000;
}

.app {
    width: 100vw;
    background-image: url("/assets/Background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;
    height: calc(var(--vh) * 100);
    overflow: hidden;

    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
}

.content {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.zeus-container {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zeus-img {
    max-height: 75%;
    object-fit: contain;
    display: block;
}

@media (min-width: 768px) {
    .app {
        height: 100vh;
    }
}
.slot-board-overlay {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 52vh;
    max-height: 420px;
    pointer-events: none;
    top: 30%; /* как в Figma */
}


.slot-board-overlay canvas {
    width: 100% !important;
    height: 100% !important;
    display: block;
}
